{
"liveHIT":"no",
"title":"scl test 2",
"description":"a description to show to turkers",
"experimentURL":"https://scl-test.netlify.app",
"keywords":"language research stanford fun cognitive science university explanations",
"USonly?":"no",
"minPercentPreviousHITsApproved":"none",
"minNumPreviousHITsApproved":"none",
"frameheight":"650",
"reward":"0.00",
"numberofassignments":"10",
"assignmentsperhit": "10",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesHaveQualification":"none",
"doesNotHaveQualification": "none"
}